.navigation {
    width: 40%;
    

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        & li:nth-child(2) {
            font-weight: bold;
        }
    }

    &__link {
        color: $color-primary-blue;
        
        &:hover {
            color: $color-primary-light-blue;
        }
    }
}