/* section promo start */
.sec-promo {
    width: 85.375rem;
    height: 35.625rem;
    background-color: #ddf6ff;
    background-image: url(/img/home-page1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* section promo end */