/* header start */
.header {
    width: 85.375rem;
    min-height: 5rem;
    background-color: #DAF6FD;
    border-bottom: 1px solid $color-primary-light-blue;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* header end */